.box{
width: 200px;
height: 300px;
background-color: blue;
border-spacing: 12px;
margin: 20px;
}

.catyu{
    width: 200px;
    height: 300px;
    background-color: blue;
    box-shadow: 12px;
}